<div class="container-fluid h-100 p-0 shadow-sm border bg-white rounded">
    <div class="row">
        <div class="col">
            <nav class="navbar shadow-1 bg-light bg-gradient rounded">
                <div class="container-fluid ps-3 pe-3">
                    {% if ctx.level == '0' %}
                        <h6 id="{{ ctx.level }}_title" class="mt-2">{{ ctx.contenttitle }}</h6>
                    {% endif %}
                    {% include 'core/tools/tools.html' %}
                </div>
            </nav>
            <div class="p-3">
                <div id="{{ ctx.level }}_action_{{ ctx.fragment }}">
                    {% include 'core/custom/custom.html' %}
                </div>
            </div>
        </div>
    </div>
</div>
