<div id="4_modal" class="modal" data-mdb-backdrop="static" data-mdb-keyboard="true" aria-labelledby="title4" aria-hidden="true" tabindex='-4'>
    <input id="4_id_binded_form" type="hidden" value="False">
    <div id="4_dialog" class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div id="4_content" class="modal-content border-1 rounded-6 draggable">
            <div id="4_header" class="modal-header text-light"></div>
            <div id="4_body" class="modal-body modal4body"></div>
            <div id="4_footer" class="modal-footer"></div>
        </div>
    </div>
</div>
