<div id="3_modal" class="modal" data-mdb-backdrop="static" data-mdb-keyboard="true" aria-labelledby="title3" aria-hidden="true" tabindex='-3'>
    <input id="3_id_binded_form" type="hidden" value="False">
    <div id="3_dialog" class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div id="3_content" class="modal-content border-1 rounded-6 draggable">
            <div id="3_header" class="modal-header text-light"></div>
            <div id="3_body" class="modal-body modal3body"></div>
            <div id="3_footer" class="modal-footer"></div>
        </div>
    </div>
</div>
