<div id="6_modal" class="modal" data-mdb-backdrop="static" data-mdb-keyboard="true" aria-labelledby="title6" aria-hidden="true" tabindex='-6'>
    <input id="6_id_binded_form" type="hidden" value="False">
    <div id="6_dialog" class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div id="6_content" class="modal-content border-6 draggable">
            <div id="6_header" class="modal-header text-light"></div>
            <div id="6_body" class="modal-body modal6body"></div>
            <div id="6_footer" class="modal-footer"></div>
        </div>
    </div>
</div>
