/* Base elements */
/*==============================================================================*/
:root {
    --default-info: #39C0ED;
    --default-warning: #FFA900;
    --default-primary: #1266F1;
    --default-success: #00B74A;
    --default-secondary: #B23CFD;
    --default-dark: #262626;
    --default-light: #818181;
    --default-danger: #F93154;
}

*:focus {
    outline: 0 !important;
}

body {
    height: 100vh;
    overflow: hidden;
}

input {
    height: 35px;
}
input.low_height {
    height: 20px;
}

li {
    /*cursor: pointer;*/
}

li > .disabled {
    cursor: not-allowed;
}

.w-20 {
    width: 20%
}

.w-30 {
    width: 30%
}

.w-40 {
    width: 40%
}

.w-50 {
    width: 50%
}

.w-60 {
    width: 60%
}

.mh-100 {
    min-height: 100%;
}

.text-black-25 {
    color: #ccc !important;
}

.text-transparent {
    color: transparent;
}

.text-disabled {
    color: #ddd;
}

.outline-0 {
    outline: 0 !important;
}

/* Main content and navigation */
/*==============================================================================*/
#private_main {
    padding-left: 240px;
    transition: padding 0.3s linear;
    margin-top: 50px;
}

@media (max-width: 1400px) {
    #private_main {
        padding-left: 0;
    }

    #toggler {
        display: unset;
    }
}

#private_body {
    background-color: #e8e8e8;
}

#public_body {
    height: 100vh;
    overflow: auto;
}

#public_main {
    background-color: #fafffd;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('/assets/img/background-opace.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.sidenav-1[data-mdb-hidden='false'] {
    transform: translateX(-100%);
}

.sidenav-item:hover {
    background-color: #3a3939;
    color: #fafafa;
}

.sidenav-item.active {
    background-color: #3a3939;
    border-style: solid;
    border-width: 0 0 0 3px;
    border-color: #00b400;
    color: #fff;
}

.sidenav-item.active > .sidenav-link {
    margin-left: -3px;
}

.nav-link.active {
    text-decoration: underline;
}

.navbar {
    height: 50px;
    min-height: 50px;
    max-height: 50px;
}

.dropdown-item {
    cursor: pointer;
}

#logo {
    height: 80px;
}

.fragments-wrapper {
    height: calc(100vh - 150px);
    overflow: auto;
}

.cursor-pointer {
    cursor: pointer !important;
}

.cursor-grab {
    cursor: grab !important;
}

.cursor-default {
    cursor: default !important;
}

.cursor-contextmenu {
    cursor: context-menu !important;
}


/* Buttons */
/*==============================================================================*/

.btn-chaptermenu {
    text-transform: none !important;
    padding: 5px;
    border-radius: 3px 3px 0 0 !important;
}

.btn-chaptermenu::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    left: 50%;
    bottom: -2px;
    background-color: var(--default-primary);
    transition: all ease-in-out .2s;
}

.btn-chaptermenu:hover {
    background-color: #eeeeee;
    color: var(--default-primary);
}

.btn-chaptermenu:not(.active):hover::after {
    width: 100%;
    left: 0;
}

.btn-chaptermenu.active {
    background-color: #eeeeee;
    border-bottom: 2px solid var(--default-primary);
    color: var(--default-primary);
}

.btn-link {
    background: transparent !important;

}

.btn-link:hover {
    background: transparent !important;
}

.btn-link > i {
    color: white;
    font-size: 25px;
    transition: transform .4s ease-in-out;
}

.btn-link > i:hover {
    color: green;
    transform: rotate(180deg);
}


/* Badges */
/*==============================================================================*/
.license-plate {
    position: relative;
    background: #fdde7d;
    min-width: 100px;
    height: 20px;
    padding: 1px;
    border-radius: 3px;
    box-shadow: 0 0 3px rgba(0, 0, 0, .3);
}

.license-inset {
    border: 1px solid #333;
    border-radius: 4px;
    width: auto;
    height: 18px;
    position: relative;
    display: flex;
    align-items: center;
}

.license-plate .license-inset .license-blue {
    width: 14px;
    height: 16px;
    background: #6194fa;
    border-right: 1px solid #333;
}

.license-text {
    padding: 2px 2px 0 8px;
    font-size: 0.8rem;
    /*font-weight: bold;*/
}


/* Font stuff */
/*==============================================================================*/
.fs-7 {
    font-size: 0.9rem !important;;
}

.fs-8 {
    font-size: 0.8rem !important;;
}

.fs-9 {
    font-size: 0.75rem !important;;
}

.fs-10 {
    font-size: 0.6rem !important;
}


/* Login */
/*==============================================================================*/
.login-container {
    max-width: 597px !important;
    overflow: auto;
}

.login-body {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url('/assets/img/background.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.login-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);
}

.login-box {
    background: #00060d82;
    border: 1px solid #00050b14;
    padding: 50px 0 50px 0;
}

.form-floating {
    color: #eaeaea;
    opacity: 0.9;
    border-bottom: 1px solid rgb(213, 207, 207);
}

.login-fields {
    max-width: 300px;
    margin: auto;
}

.form-signin input[type="text"] {
    margin-top: 5px;
    margin-bottom: 5px;
    border: 0;
    color: #e6e6e6;
    background-color: transparent;
    -webkit-appearance: none;
}

.form-signin input[type="email"] {
    margin-top: 5px;
    margin-bottom: 5px;
    border: 0;
    color: #e6e6e6;
    background-color: transparent;
    -webkit-appearance: none;
}

.form-signin input[type="password"] {
    margin-top: 15px;
    margin-bottom: 5px;
    border: 0;
    color: #e6e6e6;
    background-color: transparent;
    -webkit-appearance: none;
}


/* DjDebug */
/*==============================================================================*/
#djDebug #djDebugToolbarHandle {
    top: 70% !important;
}


/* Filters */
/*==============================================================================*/
.filterfield {
    width: 130px;
    height: 25px;
    font-size: 0.8rem;
    border-color: #d3d3d3;
    background-color: #fdfdfd;
    transition: ease-in background-color 0.2s;
}

.filterfield:hover {
    background-color: #ebf7ff;
}

.filterfield:focus {
    background-color: #ebf7ff;
}

input.filterfield:not(:placeholder-shown) {
    background-color: #ebf7ff;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

.form-check-input[type=checkbox].green:checked {
    background-color: var(--default-success);
    border-color: var(--default-success);
}

.form-check-input[type=checkbox].disabled {
    background-color: #ddd;
    border-color: #ddd;
}


/* Fields */
/*==============================================================================*/
.form-control:not(.filterfield), .form-select:not(.filterfield) {
    border-radius: 0;
    border-width: 0 0 1px 0;
    box-shadow: none;
}

.editable {
    min-width: 100px;
    max-width: 100px;
    height: 25px;
    font-size: 0.7rem;
    padding-top: 0;
    padding-bottom: 0;
}

.editable:hover {
    outline: 1px solid rgba(0, 94, 8, 1);
}

.editable:focus {
    background: rgb(225, 253, 226);
    border: 1px solid rgba(0, 94, 8, 1);
    outline: none;
    box-shadow: none;
}

.editable.is-invalid {
    outline: 1px solid red;
    border-color: transparent;
}

.editable.amount {
    min-width: 80px;
    max-width: 80px;
}

.editable.discount {
    min-width: 80px;
    max-width: 80px;
}

/*.editable:after {*/
/*    content: '%';*/
/*}*/

.modal_select {
    height: 35px;
    line-height: normal;
}

select {
    height: 35px;
}

.form-control:read-only {
    background-color: #eeeeee;
    opacity: 1;
}

/* Modals */
/*==============================================================================*/
.modal-backdrop {
    display: none;
}

.modal {
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-header {
    background-color: rgb(16, 56, 19);
}

.modal-header:hover {
    background-color: rgb(6, 66, 9);
    cursor: move;
}

.modal-body, .modal-footer {
    background-color: rgba(231, 231, 231, 0.14);
}


/* Booking grid */
/*==============================================================================*/
.estateitem {
    -moz-transition: ease-in-out 0.2s;
    -webkit-transition: ease-in-out 0.2s;
    -o-transition: ease-in-out 0.2s;
    transition: ease-in-out 0.2s;
    min-width: 100px;
}

/*.estateitem:hover {*/
/*    background: rgba(0, 94, 8, 1) !important;*/
/*    color: white;*/
/*    cursor: pointer;*/
/*}*/


.rentalgridcolumn {
    height: 42px;
}

.estatestatus.avail {
    height: 100%;
    /*background-color: #d6fcd9;*/
    cursor: copy;
}

.estatestatus.avail:hover {
    background-color: #b9d5fa;
}


.estatestatus.unavail {
    height: 100%;
    background-color: rgba(222, 222, 222, 0.5);
    cursor: not-allowed;
}

th.dayofweek_6 {
    color: #005ec7;
}

th.dayofweek_7 {
    color: #005ec7;
}

td.dayofweek_6 {
    background: #eef6ff !important;
}

td.dayofweek_7 {
    background: #eef6ff !important;
}

.bookinggrid_wrapper {
    /*height: calc(100vh - 300px);*/
}

.bookinggrid {
    width: 100%;
}

.bookinggrid tbody tr > :first-child {
    position: sticky;
    left: 0;
    z-index: 3;
    background: #FBFBFB;
}

.bookinggrid * th {
    position: sticky;
    top: 0;
    z-index: 4;
    min-width: 60px;
    max-width: 80px;
    background: #f3f3f3;
    outline: 0.5px solid #e7e7e7;
}

.bookinggrid * td {
    outline: 0.5px solid #e7e7e7;
}

.bookinggrid thead tr > :first-child {
    left: 0;
    top: 0;
    z-index: 5;
}

.bookingstatus {
    position: relative;
    z-index: 2;
    height: 20px;
    cursor: pointer;
    border-top: 1px solid;
    border-bottom: 1px solid;
}

.bookingstatus.start {
    border-radius: 33px 0 0 33px;
    max-width: 20px;
    border-left: 1px solid;

}

.bookingstatus.end {
    border-radius: 0 33px 33px 0;
    max-width: 50%;
    width: 50%;
    border-right: 1px solid;
}

.bookingstatus.booked_0 {
    background-color: #e1f2ff;
    /*box-shadow: 0 0 0 1px var(--default-info);*/
    border-color: var(--default-primary);
}

.bookingstatus.booked_5 {
    background-color: var(--default-primary);
    /*box-shadow: 0 0 0 1px var(--default-primary);*/
    border-color: var(--default-primary);
}

.bookingstatus.booked_10 {
    background-color: var(--default-success);
    /*box-shadow: 0 0 0 1px var(--default-success);*/
    border-color: var(--default-success);
}

.bookingstatus.booked_20 {
    background-color: var(--default-success);
    /*box-shadow: 0 0 0 1px var(--default-success);*/
    border-color: var(--default-success);
}

.bookingstatus.booked_30 {
    background-color: var(--default-success);
    /*box-shadow: 0 0 0 1px var(--default-success);*/
    border-color: var(--default-success);
}

.bookingstatus.booked_50 {
    background-color: var(--default-success);
    /*box-shadow: 0 0 0 1px var(--default-success);*/
    border-color: var(--default-success);
}

.bookingstatus.booked_99 {
    background-color: var(--default-light);
    /*box-shadow: 0 0 0 1px var(--default-light);*/
    border-color: var(--default-light);
}

.bookingstatus.inmain {
    background-color: var(--default-warning);
    /*box-shadow: 0 0 0 1px var(--default-warning);*/
    border-color: var(--default-warning);
}

.overviewgrid {
    width: 100%;
}

.overviewgrid tbody tr > :first-child {
    position: sticky;
    left: 0;
    z-index: 3;
    background: #FBFBFB;
}

.overviewgrid * th {
    position: sticky;
    top: 0;
    z-index: 4;
    min-width: 60px;
    max-width: 80px;
    background: #f3f3f3;
    outline: 0.5px solid #e7e7e7;
}

.overviewgrid * td {
    outline: 0.5px solid #e7e7e7;
}

.overviewgrid thead tr > :first-child {
    left: 0;
    top: 0;
    z-index: 5;
}

.overviewcard {
    background-color: #dfe7f6;
    cursor: pointer;
}

.overviewcardtext {
    text-overflow: ellipsis;
    overflow: hidden;
    width: 80px;
    white-space: nowrap;
}

/* Popovers */
/*==============================================================================*/
.popover {
    max-width: 80%;
    border: 1px solid #ccc;
}


/* Tables */
/*==============================================================================*/
.recordselectedforaction {
    background-color: rgba(28, 238, 4, 0.09);
}


/* Sorting */
/*==============================================================================*/
.sorting {
    position: relative;
    cursor: pointer;
}

.sorting::before {
    right: 1em;
    content: "\f0de";
    font-family: 'Font Awesome\ 5 Free', serif;
    font-weight: 900;
    font-size: 1rem;
    position: absolute;
    bottom: 0.9em;
    display: block;
    opacity: .3;
}

.sorting::after {
    content: "\f0dd";
    font-family: 'Font Awesome\ 5 Free', serif;
    font-weight: 900;
    right: 1em;
    font-size: 1rem;
    position: absolute;
    bottom: 0.7em;
    display: block;
    opacity: .3;
}

.sorting_asc {
    position: relative;
    cursor: pointer;
    color: #0A47A9 !important;
}

.sorting_asc::before {
    right: 1em;
    content: "\f0de";
    font-family: 'Font Awesome\ 5 Free', serif;
    font-weight: 900;
    font-size: 1rem;
    position: absolute;
    bottom: 0.9em;
    display: block;
    opacity: 1;
}

.sorting_asc::after {
    content: "\f0dd";
    font-family: 'Font Awesome\ 5 Free', serif;
    font-weight: 900;
    right: 1em;
    font-size: 1rem;
    position: absolute;
    bottom: 0.7em;
    display: block;
    opacity: .3;
}

.sorting_desc {
    position: relative;
    cursor: pointer;
    color: #0A47A9 !important;
}

.sorting_desc::before {
    right: 1em;
    content: "\f0de";
    font-family: 'Font Awesome\ 5 Free', serif;
    font-weight: 900;
    font-size: 1rem;
    position: absolute;
    bottom: 0.9em;
    display: block;
    opacity: .3;
}

.sorting_desc::after {
    content: "\f0dd";
    font-family: 'Font Awesome\ 5 Free', serif;
    font-weight: 900;
    right: 1em;
    font-size: 1rem;
    position: absolute;
    bottom: 0.7em;
    display: block;
    opacity: 1;
}

/* mdbootstrap overrides */
/*==============================================================================*/
.note {
    border-radius: 0;
}


/*==============================================================================*/
.corporate_identity {
    font-family: "Arial", serif;
    font-size: 12px;
    line-height: 70%;
    color: rgba(34, 77, 29, 0.49);
}


/* hide stuff on small devices */
@media screen and (max-width: 576px) {
    .hideonsmalldevices {
        display: none;
    }
}
