<h2 class="text-light mb-5">Link verlopen</h2>
<form method="post" action="/public/reset_password">
    <div class="text-light">
        <span>
            De link is verlopen. Vraag een nieuwe link aan.<br>
            <br>
            Vul je e-mailadres in en klik op aanvragen:<br><br>
            <label for="id_emailaddress"></label>
            <input type="email" class="form-control" name="emailaddress" id="id_emailaddress" placeholder="e-mailadres" required>
            <br><br>
            <button type="submit" class="btn btn-sm btn-outline-primary">Aanvragen</button>
        </span>
    </div>
</form>
