<h4 class="text-light mb-5">Wachtwoord vergeten</h4>
<div class="text-light mb-4"> Vul hieronder je e-mailadres in. We sturen dan binnen enkele ogenblikken een e-mail waarmee een nieuw wachtwoord kan worden aangemaakt.</div>
<form method="POST" action="/public/reset_password/">
    <div id="form-floating">
        <div class="form-floating">
            <input id="id_emailaddress" class="form-control" type="email" name="emailaddress" placeholder="e-mailadres" required>
            <label for="id_emailaddress">e-mailadres</label>
        </div>
        <button type="submit" class="btn btn-lg btn-outline-primary w-100 mt-4">Wachtwoord aanvragen</button>
    </div>
</form>
