<h4 class="text-light mb-5">Wachtwoord aanmaken</h4>
{#<span class="text-light">Inlognaam: {{ ctx.username }}</span>#}
<form method="POST">
    {% csrf_token %}
    <div id="form-floating">

        <div class="form-floating">
            {{ form.subject.errors }}
            {{ form.new_password1 }}
            <label for="{{ form.new_password1.id_for_label }}">Nieuw wachtwoord</label>
        </div>

        <div class="form-floating">
            {{ form.subject.errors }}
            {{ form.new_password2 }}
            <label for="{{ form.new_password2.id_for_label }}">Bevestig wachtwoord</label>
        </div>

        {% for field in form %}
            {% for error in field.errors %}
                <p class="text-danger">{{ error }}</p>
            {% endfor %}
        {% endfor %}
        <button class="btn btn-lg btn-outline-primary w-100 mt-4" type="submit"><span>Opslaan</span></button>
    </div>
</form>