{#<input type="hidden" id="{{ ctx.level }}_id_order_by" value="{{ ctx.order_by }}">#}
{% if ctx.records %}
    <nav aria-label="Page navigation" class="paginator">
        <ul class="pagination">
            <li class="page-item disabled">
                <a class="page-link" onclick="" aria-label="First">{{ ctx.records.paginator.count }} item{% if ctx.records.paginator.count > 1 %}s{% endif %}</a>
            </li>
            {% if ctx.records.has_previous %}
                <li class="page-item">
                    <a class="page-link" onclick="do_refresh_fragment('{% if fieldname == ctx.order_by %}-{% endif %}{{ fieldname }}',
                     '{{ ctx.fragment }}', {{ ctx.level }}, '{% url 'core:fragment' %}?level={{ ctx.level }}&package={{ ctx.package }}&fragment={{ ctx.fragment }}&pk={{ ctx.pk|default_if_none:'' }}&fk={{ ctx.fk|default_if_none:'' }}&refreshtarget=data&fragmentrefresh=data_{{ ctx.fragment }}&successurl={{ ctx.successurl }}&page=1&paginate={{  ctx.paginate }}')" aria-label="First">&Lang;</a>
                </li>
                <li class="page-item">
                    <a class="page-link" onclick="do_refresh_fragment('{% if fieldname == ctx.order_by %}-{% endif %}{{ fieldname }}',
                     '{{ ctx.fragment }}', {{ ctx.level }}, '{% url 'core:fragment' %}?level={{ ctx.level }}&package={{ ctx.package }}&fragment={{ ctx.fragment }}&pk={{ ctx.pk|default_if_none:'' }}&fk={{ ctx.fk|default_if_none:'' }}&refreshtarget=data&fragmentrefresh=data_{{ ctx.fragment }}&successurl={{ ctx.successurl }}&page={{ ctx.records.previous_page_number }}&paginate={{  ctx.paginate }}')" aria-label="Previous">&lang;</a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <a class="page-link" aria-label="First"><span aria-hidden="true">&Lang;</span></a>
                </li>
                <li class="page-item disabled">
                    <a class="page-link" aria-label="Previous"><span aria-hidden="true">&lang;</span></a>
                </li>
            {% endif %}
            {# Go through all page numbers #}
            {% for i in ctx.elided %}
                {# If number = pagenumber then no link #}
                {% if ctx.records.number == i %}
                    <li class="active page-item">
                        <span class="page-link">{{ i }}</span>
                    </li>
                {% elif i == ctx.ellipsis %}
                    {# If number = Ellipsis then no link and ellipsis #}
                    <li class="page-item disabled">
                        <span class="page-link">{{ i }}</span>
                    </li>
                {% else %}
                    {# Give li actvive and link #}
                    <li class="page-item">
                        <a class="page-link" onclick="do_refresh_fragment('{% if fieldname == ctx.order_by %}-{% endif %}{{ fieldname }}',
                     '{{ ctx.fragment }}', {{ ctx.level }}, '{% url 'core:fragment' %}?level={{ ctx.level }}&package={{ ctx.package }}&fragment={{ ctx.fragment }}&pk={{ ctx.pk|default_if_none:'' }}&fk={{ ctx.fk|default_if_none:'' }}&refreshtarget=data&fragmentrefresh=data_{{ ctx.fragment }}&successurl={{ ctx.successurl }}&page={{ i }}&paginate={{  ctx.paginate }}')">{{ i }}</a>
                    </li>
                {% endif %}
            {% endfor %}
            {% if ctx.records.has_next %}
                <li class="page-item">
                    <a class="page-link" onclick="do_refresh_fragment('{% if fieldname == ctx.order_by %}-{% endif %}{{ fieldname }}',
                     '{{ ctx.fragment }}', {{ ctx.level }}, '{% url 'core:fragment' %}?level={{ ctx.level }}&package={{ ctx.package }}&fragment={{ ctx.fragment }}&pk={{ ctx.pk|default_if_none:'' }}&fk={{ ctx.fk|default_if_none:'' }}&refreshtarget=data&fragmentrefresh=data_{{ ctx.fragment }}&successurl={{ ctx.successurl }}&page={{ ctx.records.next_page_number }}&paginate={{  ctx.paginate }}')" aria-label="Previous"><span aria-hidden="true">&rang;</span></a>
                </li>
                <li class="page-item">
                    <a class="page-link" onclick="do_refresh_fragment('{% if fieldname == ctx.order_by %}-{% endif %}{{ fieldname }}',
                     '{{ ctx.fragment }}', {{ ctx.level }}, '{% url 'core:fragment' %}?level={{ ctx.level }}&package={{ ctx.package }}&fragment={{ ctx.fragment }}&pk={{ ctx.pk|default_if_none:'' }}&fk={{ ctx.fk|default_if_none:'' }}&refreshtarget=data&fragmentrefresh=data_{{ ctx.fragment }}&successurl={{ ctx.successurl }}&page={{ ctx.records.paginator.num_pages }}&paginate={{  ctx.paginate }}')" aria-label="Previous"><span aria-hidden="true">&Rang;</span></a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <a class="page-link" aria-label="Previous"><span aria-hidden="true">&rang;</span></a>
                </li>
                <li class="page-item disabled">
                    <a class="page-link" aria-label="Previous"><span aria-hidden="true">&Rang;</span></a>
                </li>
            {% endif %}
            {% if ctx.paginate and not ctx.paginatesize_overwrite %}
                <li class="page-item">
                <div class="d-flex align-items-center h-100">
                    <label>
                        <select id="id_paginatesize" class="page-link ms-2" onchange="save_paginatesize('{% if fieldname == ctx.order_by %}-{% endif %}{{ fieldname }}',
                     '{{ ctx.fragment }}', '/core/save_paginatesize/?level={{ ctx.level }}&paginatesize=' + document.getElementById('id_paginatesize').value, {{ ctx.level }}, '{% url 'core:fragment' %}?level={{ ctx.level }}&package={{ ctx.package }}&pk={{ ctx.pk|default_if_none:'' }}&fk={{ ctx.fk|default_if_none:'' }}&fragment={{ ctx.fragment }}&refreshtarget=data&fragmentrefresh=data_{{ ctx.fragment }}&successurl={{ ctx.successurl }}&page=1')">
                            <option value="5" {% if ctx.paginatesize == 5 %}selected=""{% endif %}>5</option>
                            <option value="10" {% if ctx.paginatesize == 10 %}selected=""{% endif %}>10</option>
                            <option value="25" {% if ctx.paginatesize == 25 %}selected=""{% endif %}>25</option>
                            <option value="50" {% if ctx.paginatesize == 50 %}selected=""{% endif %}>50</option>
                            <option value="100" {% if ctx.paginatesize == 100 %}selected=""{% endif %}>100</option>
                        </select>
                    </label>
                </div>
                </li>
            {% endif %}
        </ul>
    </nav>
{% endif %}
