<!DOCTYPE html>
<html lang="nl">

<head>

    {% include 'imports_head.html' %}

    <meta charset="utf-8">
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height"/>
    <title>
        Eveningred{% if not ctx.package %}{% else %} - {{ ctx.package|title }}{% endif %}
    </title>
</head>

<body class="bg-dark">
    {% include 'core/modals/modals.html' %}
    {% include 'core/messages/messages.html' %}

    <div class="bg-white">
        {% block public %}
        {% endblock %}
    </div>
    <div>
        {% if request.user.is_authenticated %}
                {% block content %}
                {% endblock %}
        {% else %}
                {% block login %}
                {% endblock %}
        {% endif %}
        {% include 'imports_body.html' %}
    </div>
</body>
</html>
